<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Kartu Tanda Mahaiswa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <fieldset>
            <legend>Kartu Tanda Mahasiswa</legend>
            <br>
            <l th:text="${nama}"></l>
            <br/><br/>
            <l th:text="${nim}"></l>
            <br/><br/>
            <l th:text="${jurusan}"></l>
            <br/><br/>
            <l align="left"> <img src='data:image/jpeg;base64' width="500" height="400"></l>
        </fieldset>
    
    </body>
</html>

